{# templates/login.html.twig #}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>GiftWish - Log In</title>

  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Pacifico&family=Work+Sans:wght@300;400;500;600;700&display=swap"
  >

  <link rel="stylesheet" href="{{ asset('css/signup.css') }}">
</head>
<body>


  <a href="{{ path('app_signup') }}" class="member-link">
    Not a member ?
    <span>Sign up</span>
  </a>


  <div class="signup-container">


    <div class="left-panel" style="background-image: url('{{ asset("assets/image (10).png") }}');">
      <div class="overlay"></div>
      <div class="left-content">
        <div class="logo">GiftWish</div>
        <div class="tagline">Offrez du bonheur,<br>un cadeau à la fois !</div>
      </div>
    </div>


    <div class="right-panel">
      <h1>Log in</h1>
      <form method="POST" class="signup-form">
        {# Adapt these fields to your needs (e.g. Symfony forms) #}
        <input
          type="email"
          name="email"
          placeholder="Email address"
          class="form-control"
          required
        >
        <input
          type="password"
          name="password"
          placeholder="Password"
          class="form-control"
          required
        >
        {# CSRF token if needed #}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button type="submit" class="signup-btn" >Log in</button>
      </form>

    
    </div>
  </div>

  <!-- Footer (bottom-right corner) -->
  <footer class="footer">
    M.T-ATLANTIQUE@2025
  </footer>

</body>
</html>
