/* Global styles */
:root {
    --primary-color: #00B8DE;
    --secondary-color: #ff4081;
    --dark-color: #14223C;
    --light-color: #f5f5f5;
    --success-color: #9ACC99;
    --info-color: #2196f3;
    --warning-color: #ff9800;
    --danger-color: #a12d25;
}

body {
    background-color: var(--light-color);
    color: var(--dark-color);
}

/* Override Bootstrap colors */
.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover {
    background-color: #303f9f;
    border-color: #303f9f;
}

.text-primary {
    color: var(--primary-color) !important;
}

/* Navbar customization */
.navbar-dark.bg-dark {
    background-color: var(--primary-color) !important;
}

/* Search container styling */
.search-container {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Card styling */
.card {
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Footer styling */
footer {
    background-color: var(--primary-color) !important;
}

/* Custom alert styling */
.alert-success {
    background-color: var(--success-color);
    color: white;
}

.alert-danger {
    background-color: var(--danger-color);
    color: white;
}

.brand-logo {
    font-family: 'Pacifico', cursive;
}

.nav-item{
    color: var(--light-color);
}

.btn-primary, .btn-primary:hover {
    background-color: var(--light-color);
    color: var(--dark-color);
}